    <footer id="footer">
        <div class="first-block">
        <div class="logo">
            <img src='/pic/logo.png' alt="Logo">
            <h3>UWC 2.0</h3>
        </div>
        <a href="#">©2021 Terms Privacy</a>
        </div>
        <div class="second-block">
        <p>
            <a href="#">Blog <br></a>
            <a href="#">Sed Feedback <br></a>
            <a href="#">Dummy Link <br></a>
            <a href="#">About <br></a>
            <a href="#">Help</a>
        </p>
        </div>
        <div class="social">
        <a href="#"><img src='/pic/facebook.jpg' alt="facebook"></a>
        <a href="#"><img src='/pic/instagram.jpg' alt="instagram"></a>
        <a href="#"><img src='/pic/twitter.jpg' alt="twitter"></a>
        </div>
    </footer>

</body>
</html>