<!-- TO-DO: design assign task -->
<!--
Data render from server: 
  title: string
  weeks: [int]
  data: {
    unassigned: [string],
    schedule: [{
      route: string
      vehicle: string
      assignee: string
    }] OR [{
      troller: string
      mcp: string
      assignee: string
    }]
  }
  filter: {
    week: int
    type: string
    lastModified: string/datetime
    startDay: datetime
  }
-->
<%- include("partials/header"); -%>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/assign_task.css">
</head>
<body>
    <!-- Header box -->
    <!-- 1. Header: Title, 2 dropdown (Week, Actor) -->
    <h1 class="title"><strong>Assign Task</strong></h1>

      <!-- Create Button -->
      <button class="create" type="button" id="newWeek">   
        Create   
      </button>

    <!-- Week Dropdown-Button -->
    <div class="dropdown selectWeek">
      <div class="select">
        <span class="selected">Week 1</span>
        <div class="caret"></div>
      </div>
      <ul class="menu menuWeek">
        <li class="active">Week 1</li>
        <li>Week 2</li>
        <li>Week 3</li>
        <li>Week 4</li>
      </ul>
    </div>

    <!-- Actor Dropdown-Button -->
    <div class="dropdown selectType">
      <div class="select">
        <span class="selected">Collector</span>
        <div class="caret"></div>
      </div>
      <ul class="menu menuType">
        <li class="active">Collector</li>
        <li>Janitor</li>
      </ul>
    </div>



    <!-- 2. Body: 2 tables (Unassigned List, Avalable Table) -->
    <!-- Unassigned -->
    <div class="Unassigned">
        <table>
          <thead>
            <tr>
              <th>Unassigned</th>
            </tr>
          </thead>
          <tbody id="unassignedZone">
            <tr><td class="Actor"><button draggable="true" class="employee unassigned" id="collector1">Collector 1</button></td></tr>
            <tr><td class="Actor"><button draggable="true" class="employee unassigned" id="collector2">Collector 2</button></td></tr>
            <tr><td class="Actor"><button draggable="true" class="employee unassigned" id="collector3">Collector 3</button></td></tr>
            <tr><td class="Actor"><button draggable="true" class="employee unassigned" id="collector4">Collector 4</button></td></tr>
          </tbody>
        </table>
    </div>
    <!-- Available Table -->
    <div class="container">
          <table>
            <thead style="display:table-header-group">
              <tr>
                <th>Route</th>
                <th>Vehicle</th>
                <th>Assignee</th>
              </tr>
            </thead>
            <tbody id="schedule">
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"><button draggable="true" class="employee" id="collector16">Collector 16</button></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"><button draggable="true" class="employee" id="collector17">Collector 17</button></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"><button draggable="true" class="employee" id="collector18">Collector 18</button></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
              <tr>
                <td class="col">Route ABC</td>
                <td class="col">51-F1 123.45</td>
                <td class="Actor assignedZone"></td>
              </tr>
            </tbody>
          </table>
    </div>



    <!-- 3.Footer: Last modified, Same as last week, Save -->
    <div class="footer">
      <!-- Last modified -->
      <label id="time">Last modified: 12:00AM 05/11/2022</label>

      <!-- Same as last week -->
      <label class="same-as-last-week">Same as last week
        <input type="checkbox" id="same">
        <span class="checkmark"></span>
      </label>

      <!-- Save -->
      <button class="save" type="button" id="save">   
        Save   
      </button>
    </div>   

    <script src="/js/assign-task.js"></script>
<%- include("partials/footer"); -%>
