<!-- TO-DO: design assign task -->
<%- include("partials/header"); -%>

<form action="/back-officer/assign-task" method="get">
    <select name="filter" id="filter">
        <option>Collector</option>
        <option>Janitor</option>
    </select>
</form>

<%- include("partials/footer"); -%>