<!-- TO-DO: design home page -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/footer.css' />
  </head>
  <body>

    <div id="homepage-header">
      <div class="logo">
        <img src='pic/logo.png' alt="Logo">
        <h3>UWC <br> 2.0</h3>
      </div>
      <a href="#" class="register"><div>Register</div></a>
      <a href="/signin" class="signin"><div>Sign In</div></a>
    </div>

    <div class="content">
      <div class="title">
        <h1>Let's Make The <br> World <br> A Better Place</h1>
      </div>
      <div class="message">
        <p>
          Have you ever wondered how you can make the world a better place? Here's a reminder that YOU matter and that it's the small things that count.
        </p>
      </div>
    </div>
    <div class="home-picture">
      <img src='/pic/homepic.jpg' alt="Logo">
    </div>

    <footer id="footer">
        <div class="first-block">
        <div class="logo">
            <img src='/pic/logo.png' alt="Logo">
            <h3>UWC 2.0</h3>
        </div>
        <a href="#">©2021 Terms Privacy</a>
        </div>
        <div class="second-block">
        <p>
            <a href="#">Blog <br></a>
            <a href="#">Sed Feedback <br></a>
            <a href="#">About <br></a>
            <a href="#">Help</a>
        </p>
        </div>
        <div class="social">
        <a href="#"><img src='/pic/facebook.jpg' alt="facebook"></a>
        <a href="#"><img src='/pic/instagram.jpg' alt="instagram"></a>
        <a href="#"><img src='/pic/twitter.jpg' alt="twitter"></a>
        </div>
    </footer>

<%- include("partials/footer"); -%>
