<!-- TO-DO: design signin page -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/public/css/signin.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (hasMessages) { %>
			<% messages.forEach(function(message) { %>
				<p style="color: red;"><%= message %></p>
			<% }); %>
		<% } %>
    <div class="login-image">
      <img src="/public/pic/login.png" alt="Image">
    </div>

    <form id="signin-form" action="/signin" method="post">
      <h1>Sign In</h1>
      <div class="container">
        <div class="imgcontainer">
          <img src="/public/pic/login_avatar.png" alt="Avatar" class="avatar">
        </div>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </body>
</html>