/* Content */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.content{
    position: absolute;
    width: 70%;
    height: 700px;
    left: 15%;
    top: 100px;
    background-color: #A7FFBF;
    
}
/* main content */
h1{
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    padding: 3rem 0 3rem 3rem;
}

.table {
    width: 90%;
    height: 400px;
}

.container tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
}

.container tr{
    display: block;
} 

.history_tb{
    margin-top: 10px;
    margin-left: 5rem;
    border-collapse: collapse; 
    width: 800px;
    /* overflow-y: scroll; */
    position: absolute;
}
  
.history_tb td, th{
    text-align: left;
    padding: 10px;
}


.history_tb th{
    /* position: sticky; 
    top: 0px; */
    z-index: 1;
    background-color: #A7FFBF;
    width: 15%;
}

.history_tb td{
    width: 15%;
}

/* time-navi */
.time_navi
{
    position: absolute;
    width: 15%;
    height: 700px;
    top: 100px;
    right: 0;
    background-color: #e8e5e5;
}

.dropbtn {
    background-color: #4DC66F;
    color: white;
    padding: 1rem 2.2rem 1rem 2.2rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 13.4198px;
}

.dropdown {
    margin-top: 20px;
    margin-left: 25%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
    color: #57AE09;
    font-weight: bold;
}

.dropdown:hover .dropdown-content{
    display: grid;
    align-items: center; 
    justify-content: center;
    
}

.dropdown:hover .dropbtn{
    background-color: #4DC66F;
}
