/* Content */
.content{
    position: absolute;
    width: 70%;
    height: 700px;
    left: 15%;
    top: 100px;
    background-color: #A7FFBF;
    
}
/* main content */
h1{
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    padding: 3rem 0 3rem 3rem;
}

.history_tb{
    width: 900px;
    table-layout: fixed;
    position: absolute;
    border-collapse: collapse;
}

.history_tb tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 430px;
}

.history_tb thead tr {
    display: block;
}

.history_tb thead {
    background: #A7FFBF;
}

.history_tb th, .history_tb td {
    padding: 5px;
    text-align: left;
    width: 130px;
}

/* time-navi */
.time_navi
{
    position: absolute;
    width: 15%;
    height: 700px;
    top: 60px;
    right: 0;
    background-color: #e8e5e5;
    margin: auto;
}

.dropbtn {
    background-color: #4DC66F;
    color: white;
    padding: 1rem 2.2rem 1rem 2.2rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown {
    margin-top: 20px;
    margin-left: 25%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
    color: #57AE09;
    font-weight: bold;
}

.dropdown:hover .dropdown-content{
    display: grid;
    align-items: center; 
    justify-content: center;
    
}

.dropdown:hover .dropbtn{
    background-color: #4DC66F;
}

.time_navi input[type="text"]{
    width: 80%;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.time_navi .search, .filter_remove{
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #4DC66F;
    color: white;
    border-radius: 5px;
    border-color: #4DC66F;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    left: 15%;
}

.filer-display{
    display: block;
    padding-left: 2em;
}